<header class="header">
	<a href="{{ "/" | absolute_url }}" class="header-logo">
		LOGO <br> линий много
	</a>
	<div class="header-languige_swich">
		<ul class="vertical_flex_list">
			<li class="vertical_flex_list-item">
				<a href="{{ "/" | absolute_url }}">english</a>
			</li>
			<li class="vertical_flex_list-item">
				<a href="{{ "/" | absolute_url }}">русский</a>
			</li>
		</ul>
	</div>
	<a href="#down" class="header-scroll_down">
		scroll down
	</a>
	<!-- <div class="header-left_side">
	</div>
	<div class="header-right_side">
	</div> -->
	<button class="header-menu_button">menu</button>
	<div class="header-social_networks">
		<ul class="vertical_flex_list">
			<li class="vertical_flex_list-item">
				<a href="/">facebook</a>
			</li>
			<li class="vertical_flex_list-item">
				<a href="/">twitter</a>
			</li>
			<li class="vertical_flex_list-item">
				<a href="/">github</a>
			</li>
			<li class="vertical_flex_list-item">
				<a href="/">codepen</a>
			</li>
			<li class="vertical_flex_list-item">
				<a href="/">youtube</a>
			</li>
		</ul>
	</div>
	<button class="header-some_button">some button</button>
</header>
<div class="main">
	<div class="main-section">section</div>
	<div class="main-section">section</div>
	<div class="main-section">section</div>
	<div class="main-section">section</div>
</div>
