<header class="header">
	<div class="header-left_side">
		<a href="{{ "/" | absolute_url }}" class="logo">
			LOGO <br> линий много
		</a>
		<div class="header-languige_swich">
			<ul>
				<li><a href="{{ "/" | absolute_url }}">english</a></li>
				<li><a href="{{ "/" | absolute_url }}">русский</a></li>
			</ul>
		</div>
		<a href="#down" class="header-scroll_down">
			scroll down
		</a>
	</div>
	<div class="header-right_side">
		<button class="header-menu_button">menu</button>
		<div class="header-social_networks">
			<ul>
				<li><a href="/">facebook</a></li>
				<li><a href="/">twitter</a></li>
				<li><a href="/">github</a></li>
				<li><a href="/">codepen</a></li>
				<li><a href="/">youtube</a></li>
			</ul>
		</div>
		<button class="header-some_button">some button</button>
	</div>


</header>

<div class="main">
	<div class="main-section">section</div>
	<div class="main-section">section</div>
	<div class="main-section">section</div>
	<div class="main-section">section</div>
</div>